.navbar {
    background-color: midnightblue;
    color: oldlace;
    text-align: center !important;
}

/* .column{
    float: left;
    padding: 10px;
} */
.column.left {
    width: 28%;
    height: 120px;
}

.column.right {
    width: 72%;
    float: right;
}

.row-oa {
    display: flex;
    flex-wrap: nowrap;
  
  }


.btn {
    background-color: blue;
    color: white;
    font-weight: bolder;
    margin-left: 10px;
}

.card {
    background-color: rgb(250, 250, 250);
    padding-left: 25px;
}

.boxed {
    /* border: 1px solid gray; */
    margin-left: 10px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 60px;
    margin-right: 10px;
}

#index-value {
       color: white;
}

.disp-inline {
    display: inline;
}


.card.forecast {
    background-color: blue;
    color: white;
}
